@media screen and (min-width: 1160px) {
    #container {
        display: flex;
    }

    #filter {
        width: 200px;
    }

    #products {
        flex: 1,
    }
}

@media screen and (max-width: 1160px) {
    #container {
        display: block;
    }

    #filter {
        width: 100%;
        text-align: center;
    }

    #products {
        width: 100%;
        padding: 0px 20px;
    }
}

.size-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.size-items div {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eee;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    
}

.size-items div:hover {
    border: 1px solid #333;
}